<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Inflectra.SpiraTest.Business.PortfolioSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Inflectra.SpiraTest.Business.ProjectGroupSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Inflectra.SpiraTest.Business.ProjectTemplateSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Inflectra.SpiraTest.Business.ProjectSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <userSettings>
    <Inflectra.SpiraTest.Business.PortfolioSettings>
      <setting name="TestSetting" serializeAs="String">
        <value />
      </setting>
    </Inflectra.SpiraTest.Business.PortfolioSettings>
    <Inflectra.SpiraTest.Business.ProjectGroupSettings>
      <setting name="TestSetting" serializeAs="String">
        <value />
      </setting>
    </Inflectra.SpiraTest.Business.ProjectGroupSettings>
    <Inflectra.SpiraTest.Business.ProjectTemplateSettings>
      <setting name="TestSetting" serializeAs="String">
        <value />
      </setting>
      <setting name="Workflow_BulkEditCanChangeStatus" serializeAs="String">
        <value>True</value>
      </setting>
    </Inflectra.SpiraTest.Business.ProjectTemplateSettings>
    <Inflectra.SpiraTest.Business.ProjectSettings>
      <setting name="BaseliningEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayHoursOnPlanningBoard" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Testing_ExecutionDisplayBuild" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Testing_CompletingTestSetUnassigns" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Testing_CreateDefaultTestStep" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Testing_PassingTestCaseUnassigns" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Testing_WorXEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Testing_ExecutionDisableBlocked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Testing_ExecutionDisableCaution" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Testing_ExecutionDisableNA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Testing_ExecutionDisablePassAll" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Testing_ExecutionActualResultAlwaysRequired" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Testing_ExecuteSetsOnly" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Testing_ExecutionRequireIncident" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Testing_ExecutionAllowTasks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayOnlyActiveReleasesForDetected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KanbanWip_ReleaseWipMultiplier" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="KanbanWip_IterationWipMultiplier" serializeAs="String">
        <value>1.0</value>
      </setting>
      <setting name="KanbanWip_StatusPercentages" serializeAs="String">
        <value />
      </setting>
      <setting name="FilterNameAndDescription" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="General_DisableRollupCalculations" serializeAs="String">
        <value>False</value>
      </setting>
    </Inflectra.SpiraTest.Business.ProjectSettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v15.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>