<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Inflectra.SpiraTest.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Inflectra.SpiraTest.ApiTestSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
		<add name="SpiraTestEntities" connectionString="metadata=res://DataModel/SpiraDataModel.csdl|res://DataModel/SpiraDataModel.ssdl|res://DataModel/SpiraDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ValidationMaster;integrated security=True;multipleactiveresultsets=True;App=EntityFramework;Connection Timeout=30&quot;" providerName="System.Data.EntityClient" />
		<add name="AuditTrailEntities" connectionString="metadata=res://*/AuditTrailEntityModel.csdl|res://*/AuditTrailEntityModel.ssdl|res://*/AuditTrailEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VMASTER;initial catalog=ValidationMasterAudit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <Inflectra.SpiraTest.ApiTestSuite.Properties.Settings>
      <setting name="WebServiceUrl" serializeAs="String">
        <value>http://localhost/Spira/Services/</value>
      </setting>
      <setting name="ODataUrl" serializeAs="String">
        <value>http://localhost/Spira/api/odata</value>
      </setting>
    </Inflectra.SpiraTest.ApiTestSuite.Properties.Settings>
    <Inflectra.SpiraTest.Common.Properties.Settings>
      <setting name="EventLogSource" serializeAs="String">
        <value>SpiraTest</value>
      </setting>
      <setting name="TraceLogging_Enable" serializeAs="String">
        <value>True</value>
      </setting>
    </Inflectra.SpiraTest.Common.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IImportExport" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IImportExport1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IDataSync" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ISoapService50" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_ISoapService60" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/spira/Services/v3_0/ImportExport.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImportExport" contract="SpiraImportExport30.IImportExport" name="BasicHttpBinding_IImportExport" />
      <endpoint address="http://localhost/Spira/services/v4_0/ImportExport.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImportExport1" contract="SpiraImportExport40.IImportExport" name="BasicHttpBinding_IImportExport1" />
      <endpoint address="http://localhost/Spira/Services/v4_0/DataSync.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataSync" contract="SpiraDataSync40.IDataSync" name="BasicHttpBinding_IDataSync" />
      <endpoint address="http://localhost/Spira/Services/v5_0/SoapService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoapService50" contract="SpiraSoapService50.ISoapService" name="BasicHttpBinding_ISoapService50" />
      <endpoint address="http://localhost/Spira/Services/v6_0/SoapService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoapService60" contract="SpiraSoapService60.ISoapService" name="BasicHttpBinding_ISoapService60" />
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
  <system.diagnostics>
    <switches>
      <add name="generalSwitch" value="3" />
      <add name="queriesSwitch" value="3" />
    </switches>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!--	FILE LISTENER
		This is no longer needed since NUnit 2.4+ comes with built-in trace listener -->
        <!--
				<add name="fileListener"
						type="System.Diagnostics.TextWriterTraceListener" 
						initializeData="C:\Subversion\Projects\Inflectra\Trunk\Products and Services\Quality Assurance\Development\Code\NUNIT_EventLog.log"/>-->
        <!--	EVENT LOG LISTENER
		Using the listener requires that the installer has set up the registry path
		correctly in HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Eventlog\Application
		with a key called "SpiraTest" at the minimum. -->
        <!--				<add name="eventLogListener"
						type="System.Diagnostics.EventLogTraceListener" 
						initializeData="SpiraTest"/>-->
      </listeners>
    </trace>
  </system.diagnostics>
  
  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider" />
      <add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.8.2.0" newVersion="7.8.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.8.2.0" newVersion="7.8.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Kailua" publicKeyToken="86d340ffca32cc5b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.33.1.1" newVersion="15.33.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindwardReportsDrivers" publicKeyToken="adf7e40e645242d1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.33.1.1" newVersion="15.33.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindwardReports" publicKeyToken="34ffe15f4bbb8e53" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.33.1.1" newVersion="15.33.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindwardInterfaces" publicKeyToken="3e725dfad4fab7c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.33.1.1" newVersion="15.33.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
