<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net462" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net462" />
  <package id="Microsoft.SharePointOnline.CSOM" version="16.1.19404.12000" targetFramework="net462" />
  <package id="Microsoft.SharePoint.dll" version="15.0.4867.1000" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net462" />
  <package id="SharePointPnP.IdentityModel.Extensions" version="1.2.4" targetFramework="net462" />
  <package id="SharePointPnPCoreOnline" version="3.14.1910.1" targetFramework="net462" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.4" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net462" />
</packages>