<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Inflectra.SpiraTest.Installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>

	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>
	<applicationSettings>
		<Inflectra.SpiraTest.Installer.Properties.Settings>
   <setting name="DatabaseVersionForUpgradingFrom" serializeAs="String">
    <value>500</value>
   </setting>
   <setting name="ApplicationPackage" serializeAs="String">
    <value>Files.zip</value>
   </setting>
   <setting name="LicenseEditable" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ProductTemplateName" serializeAs="String">
    <value>ValidationMaster</value>
   </setting>
   <setting name="SQLUserPassword" serializeAs="String">
    <value>!paris!NEWYORK026348</value>
   </setting>
   <setting name="DatabaseVersionCurrent" serializeAs="String">
    <value>674</value>
   </setting>
   <setting name="ProductDatabaseVersion" serializeAs="String">
    <value>674</value>
   </setting>
   <setting name="ProductVersion" serializeAs="String">
    <value>7.0.0.0</value>
   </setting>
   <setting name="LicenseVersion" serializeAs="String">
    <value>7.0.0.0</value>
   </setting>
  </Inflectra.SpiraTest.Installer.Properties.Settings>
	</applicationSettings>

</configuration>
