html
{	
        font-size: 100%;
}

body {
	border: none;
    width: 100%;
	border-collapse: collapse;
    background-color: #f5f5f5;
    background-color: var(--off-white);
}

.container-fluid
{
    	background-color: #f5f5f5;
    	background-color: var(--off-white);
}

a
{
	color: #767676;
	color: var(--gray);
}
a:hover, 
a:focus,
.Title h3
{
	color: #f1a42b;
	color: var(--orange);
}

/* Layout*/
    .dashboard-header
    {
        padding: .5rem 0 .25rem 0;
        margin-top: -10px;
    }

        .dashboard-header h2
        {
            margin: 0 0 .5rem 0;
        }

        .dashboard-header > div
        {
            margin-top: 0.8rem;
        }

    .BrowseView,
    .DesignView,
    .BrowseView > tbody > tr > td > table,
    .DesignView > tbody > tr > td > table,
    .BrowseView .Chrome,
    .DesignView .Chrome
    {
	    width: 100%;
        table-layout: fixed;
    }

        .Chrome,
        .DesignView .ChromeSelected
        {
	        border: none;
	        margin-top: .25rem;
            margin-bottom: .25rem;
	        width: 100%;
        }

        table.Chrome,
        table.ChromeSelected
        {
            background-color: white;
            background-color: var(--white);
            border-radius: 4px;
            box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.4);
        }

        .Part
        {
            border-radius: 0 0 4px 4px;
        }
        .TitleBar,  
        .Part
        {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .TitleBar
        {
            padding-top: 1rem;
            padding-bottom: .25rem;
        }

        .Part
        {
            padding-top: .25rem;
            padding-bottom: 1rem;
        }
        .Part .btn-default,
        .Part .btn-primary
        {
            margin: 0;
            padding: .125rem .75rem;
        }
        .sidebar h4 ~ .btn
        {
            margin-bottom: 0.25rem;
        }
        .toolbar-sec .btn
        {
            font-size: .8rem;
            margin-bottom: 0;
            padding: 2px 8px;
        }
        .toolbar-sec .btn:not(.btn-primary) {
            background-color: transparent;
        }

        .WebPartZone
        {
            width: 100%;
        }

/* Typography*/
    .Title h3
    {
        font-size: 1.25rem;
        margin: 0;
    }
    .Title .btn 
    {
        padding: .125rem .5rem;
    }
    .sidebar H4 
    {
        margin: 0.8125rem 0 0.25rem 0;
    }

    .BrowseView .Chrome,
    .BrowseView .Chrome .btn-launch,
    .Part,
    .Part .btn, 
    .Part .DropDownList,
    .Part .DropDownHierarchy,
    .WidgetTable, 
    .WidgetGrid,
    .TestExecutionBarChart TABLE,
    .CoverageBarChart TABLE,
    .TaskProgressBarChart TABLE,
    .HeaderVerbStyle,
    .VerbStyle,
    a.PartLinkStyle,
    .SelectedPartLinkStyle
    {
        font-size: 0.8125rem;
    }
     .launcher.launcher-web-part .DropDown input {
         width: calc(100% - 1.75rem);
     }
     .launcher.launcher-web-part .DropDown {
         border-right: 0;
     }

/* TABLES */
    .Part, 
    .WidgetTable, 
    .WidgetGrid
    {
        background-color: white;
        background-color: var(--white);
    }
    
    .WidgetTable, 
    .WidgetGrid
    {
	    border-collapse: collapse;
        border-top: none;
    }

    .WidgetTable td, 
    .WidgetGrid td,
    .Part td
    {
        padding: 0.3125em;
    }
    .WidgetTable TH,
    .WidgetGrid TH
    {
	    font-weight: bold;
        padding: 0 0.3125em 0.25em 0.3125em;
        border-bottom: 3px solid #eee;
        border-bottom: 3px solid var(--vlight-gray);
    }

    .WidgetTable tr:nth-child(2n), 
    .WidgetGrid tr:nth-child(2n)
    {
        border-bottom: 1px solid #eee;
        border-bottom: 1px solid var(--vlight-gray);
        border-top: 1px solid #eee;
        border-top: 1px solid var(--vlight-gray);
    }
    .WidgetTable tr:last-child td, 
    .WidgetGrid tr:last-child td
    {
        border-bottom: 1px solid #ddd;
        border-bottom: 1px solid var(--light-gray2);
    }
    .WidgetTable tr:first-child td, 
    .WidgetGrid tr:first-child td
    {
        border-top: 1px solid #ddd;
        border-top: 1px solid var(--light-gray2);
    }
    .WidgetTable td > .btn,
    .WidgetGrid td > .btn
    {
        margin: .125rem .5rem .125rem 0;
    }

    .Part .btn-link
    {
        padding: 0;
    }

    .WidgetTable TR.Footer, 
    .WidgetGrid TR.Footer
    {
	    font-weight: bold;
        box-shadow: none;
        background-color: inherit;
        border-top: 2px solid #ddd;
        border-top: 2px solid var(--light-gray2);
        padding: inherit;
        font-size: inherit;
        color: inherit
    }

    .WidgetTable tr:nth-child(n+2):hover, 
    .WidgetGrid TR:nth-child(n+2):hover
    {
        background-color: #f0f0f0;
        background-color: var(--near-white);
    }

    .WidgetTable tr.Selected, 
    .WidgetGrid TR.Selected, 
    .WidgetTable tr.Selected:hover, 
    .WidgetGrid TR.Selected:hover
    {
        
        background-color: #D9EDF7;
        background-color: var(--pale-blue);
        box-shadow: 0 0 6px rgba(242, 103, 34, .2);
        box-shadow: 0 0 6px rgba(var(--orange-dark-rgb), .2);
    }

    .WidgetGrid TD.Icon
    {
	    padding-left: 2px;
	    padding-right: 0px;
    }
    .WidgetGrid TD.Warning
    {
	    color: Red;
	    color: var(--error);
	    font-weight: bold;
    }

    div.UserOnlineStatus
    {
        margin-left: 1rem;
    }
    .WidgetGrid a.btn.btn-link
    {
	    white-space: initial;
        text-align: left;
    }

/* CHARTS */
/*
    .TestExecutionBarChart,
    .CoverageBarChart,
    .TaskProgressBarChart
    {
	    width: 97%;
        border:0;

    }
    .TestExecutionBarChart TABLE,
    .CoverageBarChart TABLE,
    .TaskProgressBarChart TABLE
    {
	    border-collapse: collapse;
    }

    .TestExecutionBarChart .HorizontalAxis,
    .TestExecutionBarChart .VerticalAxis,
    .CoverageBarChart .HorizontalAxis,
    .CoverageBarChart .VerticalAxis,
    .TaskProgressBarChart .HorizontalAxis,
    .TaskProgressBarChart .VerticalAxis
    {
	    border: 1px solid #ddd;
	    border: 1px solid var(--light-gray2);
    }
    .TestExecutionBarChart .HorizontalAxis,
    .CoverageBarChart .HorizontalAxis,
    .TaskProgressBarChart .HorizontalAxis
    {
	    border-bottom: 0;
        padding-top: 0;
    }
    .TestExecutionBarChart .VerticalAxis,
    .CoverageBarChart .VerticalAxis,
    .TaskProgressBarChart .VerticalAxis
    {
	    border-left: 0; 
    }

    .TestExecutionBarChart .Bar, 
    .CoverageBarChart .Bar,
    .TaskProgressBarChart .Bar
    {
        font-size: 1%;
    
    }
    .TestExecutionBarChart TD,
    .CoverageBarChart TD,
    .TaskProgressBarChart TD
    {
        padding-bottom: 0;
    }

    .TestExecutionBarChart .Bar1,
    .CoverageBarChart .Bar0,
    .TaskProgressBarChart .Bar0
    {
	    background-color: #7eff7a;
    }
    .TestExecutionBarChart .Bar1Hover,
    .CoverageBarChart .Bar0Hover,
    .TaskProgressBarChart .Bar0Hover
    {
	    background-color: #9eff89;
    }
    .TestExecutionBarChart .Bar0,
    .CoverageBarChart .Bar1,
    .TaskProgressBarChart .Bar1
    {
	    background-color: #f47457;
    }
    .TestExecutionBarChart .Bar0Hover,
    .CoverageBarChart .Bar1Hover,
    .TaskProgressBarChart .Bar1Hover
    {
	    background-color: #ff9982;
    }
    .TestExecutionBarChart .Bar2,
    .CoverageBarChart .Bar4,
    .TaskProgressBarChart .Bar3
    {
	    background-color: #e0e0e0;
    }
    .TestExecutionBarChart .Bar2Hover,
    .CoverageBarChart .Bar4Hover,
    .TaskProgressBarChart .Bar3Hover
    {
	    background-color: #f0f0f0;
    }
    .TestExecutionBarChart .Bar3,
    .CoverageBarChart .Bar2,
    .TaskProgressBarChart .Bar2
    {
	    background-color: #f4f356;
    }
    .TestExecutionBarChart .Bar3Hover,
    .CoverageBarChart .Bar2Hover,
    .TaskProgressBarChart .Bar2Hover
    {
	    background-color: #fffe8c;
    }
    .TestExecutionBarChart .Bar4,
    .CoverageBarChart .Bar3
    {
	    background-color: #f29e56;
    }
    .TestExecutionBarChart .Bar4Hover,
    .CoverageBarChart .Bar3Hover
    {
	    background-color: #fba459;
    }
    .CoverageBarChart .Bar5
    {
	    background-color: #bbebfe;
    }
    .CoverageBarChart .Bar5Hover
    {
	    background-color: #dcf4fe;
    }
    */

/* jqPlot Panels*/
    .jqplot-xaxis
    {
        margin-bottom: 1rem;
    }

/* Reports*/
    .graph-label
    {
        display: inline-block;
        vertical-align: top;
        margin-left: 0.75rem;
    }
    .graph-header
    {
        display: block;
        margin-bottom: 0.5rem;
    }

.risk-summary-content {
    border: 3px solid white;
    border: 3px solid var(--white);
    height: 3rem;
}
/* because these two rules are inside user-definable colors, we do not make these colors here themable */
.risk-summary-content a:not(:empty) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ddd;
    color: #333;
    height: 2rem;
    width: 2rem;
    text-decoration: none;
    transition: all .3s;
}
.risk-summary-content a:not(:empty):hover {
    background-color: #fdcb26;
}


/* Design View*/

.DesignView .TitleBar
{
	background-color: #fcf8e3;
	background-color: var(--yellow-pale);
	border-bottom: 1px solid #ddd;
	border-bottom: 1px solid var(--light-gray2);
    margin-bottom: 0.4375rem;
    padding: 0.4375rem 0.4375rem 0 0.4375rem;
    border-radius: 4px 4px 0 0;
}
.DesignView .TitleBar .Title h3
{
    font-size: 1.125rem;
    padding: 0.25rem;
}
.DesignView .TitleBar .Title .btn
{
    margin-right: .5rem;
}

.DesignView .Header
{
    display: none;
}
.DesignView table.ChromeSelected
{
	border: 1px solid #f26722;
	border: 1px solid var(--orange-dark);
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(242, 103, 34, .7);
    box-shadow: 2px 2px 6px rgba(var(--orange-dark), .7);
}
/*
.DesignView .Chrome DIV.MenuPopup
{
	font-size: 9pt;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid Silver;
	background-color: White;
	width: 100px;
	margin-top: 4px;
	margin-left: -15px;
}
.DesignView .Chrome DIV.MenuPopup DIV
{
	padding: 2px;
}*/

.catalog.modal-content

{
    border: 0;
}

/* Catalog and Editor Zones */
    .CatalogZone,
    .EditorZone
    {
        position: absolute;
        z-index: 20;
        background-color: white;
        background-color: var(--white);
        padding: 0.475rem;
        width: 100%;
        border-radius: 4px;
        box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
    }
    .EditorZone
    {
        position: fixed;
        width: auto;
    }
    .CatalogZone > tbody >tr > td,
    .EditorZone > tbody >tr > td
    {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
    .HeaderStyle
    {
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .CatalogZone .PartChromeStyle,
    .EditorZone .PartChromeStyle
    {
        margin: 0;
    }
    .HeaderVerbStyle,
    .VerbStyle,
    input.VerbStyle,
    a.PartLinkStyle,
    .SelectedPartLinkStyle
    {
        color: #333;
        color: var(--dark-gray);
        background-color: #fff;
        background-color: var(--white);
        border: 1px solid #ccc;
        border: 1px solid var(--light-gray);
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
            touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        background-image: none;
        border-radius: 4px;
        height: 2rem;
        text-decoration: none;
    }
    .HeaderVerbStyle:hover,
    .VerbStyle:hover,
    a.PartLinkStyle:hover 
    {
        color: #333;
        background-color: #e6e6e6;
        background-color: var(--light-gray3);
        border-color: #adadad;
        border-color: var(--light-silver);
        text-decoration: none;
    }
    .HeaderStyle a.HeaderVerbStyle
    {
        display: none;
    }
    a.PartLinkStyle,
    .SelectedPartLinkStyle
    {
        margin-left: 0.475rem;
        margin-top: 0.475rem;
    }
    .SelectedPartLinkStyle,
    .VerbStyle.aspNetDisabled,
    .VerbStyle.aspNetDisabled:hover,
    input.VerbStyle.aspNetDisabled,
    input.VerbStyle.aspNetDisabled:hover
    {
        cursor: default;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
        background-color: #fff;
        background-color: var(--white);
    }
    .PartTitleStyle
    {
        font-size: 1.25rem;
    }
    .CatalogZone .PartChromeStyle legend.PartTitleStyle,
    .EditorZone .PartChromeStyle legend.PartTitleStyle
    {
        border: 0;
        color: inherit;
    }
    .PartChromeStyle
    {
        border: 0 !important;
    }
    .LabelStyle
    {
        font-weight: normal;
    }
    select.EditUIStyle,
    input.EditUIStyle[type="text"]
    {
        height: 2rem;
        padding: 6px 12px;
        color: #555;
        background-color: #FFF;
        background-color: var(--white);
        background-image: none;
        border: 1px solid #CCC;
        border: 1px solid var(--light-gray);
        border-radius: 4px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        vertical-align: middle;
    }

    select.EditUIStyle:focus,
    input.EditUIStyle[type="text"]:focus
    {
        border-color: #f26722;
        border-color: var(--orange-dark);
        outline: 0px none;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242, 103, 34, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(var(--orange-dark), .6);
    }
    .FooterStyle
    {
        float: right;
        margin-bottom: 0.75rem;
    }
    .EditorZone .EmptyZoneTextStyle
    {
	    color: #333333;
	    color: var(--dark-gray);
    }







/*Media Queries*/
@media (max-width: 990px) {
    .Chrome
    {
        margin-top: 0.25rem;
    }
}
@media (max-width: 550px)
{
    .horizontal-axis.axis-label div
    {
        transform: rotate(-90deg);
        vertical-align: middle;
        white-space: nowrap;
        width: 20px;
        min-width: 20px;
        max-width: 20px;
        color: #777;
        color: var(--gray);
    }
    .horizontal-axis.axis-label div:before
    {
        content: '_______';
        color: transparent;
    }
    /*.horizontal-axis.axis-label
    {

        width: 20px;
        min-width: 20px;
        max-width: 20px;
        padding: 0px;
    }*/
}