<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Inflectra.SpiraTest.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Inflectra.SpiraTest.Common.SecureSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Inflectra.SpiraTest.Common.ConfigurationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <applicationSettings>
        <Inflectra.SpiraTest.Common.Properties.Settings>
            <setting name="EventLogSource" serializeAs="String">
                <value>SpiraTest</value>
            </setting>
            <setting name="TraceLogging_Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LicenseEditable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WcfBaseUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportingESQLTimeout" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="BypassCertCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SourceCode_IncludeInAssociationsAndDocuments"
                serializeAs="String">
                <value>True</value>
            </setting>
        </Inflectra.SpiraTest.Common.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><userSettings>
        <Inflectra.SpiraTest.Common.SecureSettings>
            <setting name="EmailSettings_SmtpPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="Ldap_BindPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="TestSecureSetting" serializeAs="String">
                <value>ClearValue</value>
            </setting>
        </Inflectra.SpiraTest.Common.SecureSettings>
        <Inflectra.SpiraTest.Common.ConfigurationSettings>
            <setting name="Database_Revision" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Globalization_DefaultCulture" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSettings_AllowUserControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailSettings_EMailFrom" serializeAs="String">
                <value>administrator@mycompany.com</value>
            </setting>
            <setting name="EmailSettings_EMailReplyTo" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSettings_UseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailSettings_SendInHTML" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_AttachmentFolder" serializeAs="String">
                <value>C:\Program Files\SpiraTest\Attachments</value>
            </setting>
            <setting name="License_LicenseKey" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSettings_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailSettings_MailServerPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="EmailSettings_MailServer" serializeAs="String">
                <value />
            </setting>
            <setting name="License_Organization" serializeAs="String">
                <value />
            </setting>
            <setting name="License_ProductType" serializeAs="String">
                <value />
            </setting>
            <setting name="General_RichTextArtifactDesc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_RichTextTestSteps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailSettings_SmtpUser" serializeAs="String">
                <value />
            </setting>
            <setting name="General_WebServerUrl" serializeAs="String">
						
            </setting>
            <setting name="Ldap_Host" serializeAs="String">
                <value />
            </setting>
            <setting name="Ldap_BaseDn" serializeAs="String">
                <value />
            </setting>
            <setting name="Ldap_BindDn" serializeAs="String">
                <value />
            </setting>
            <setting name="Ldap_Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Ldap_FirstName" serializeAs="String">
                <value />
            </setting>
            <setting name="Ldap_LastName" serializeAs="String">
                <value />
            </setting>
            <setting name="Ldap_MiddleInitial" serializeAs="String">
                <value />
            </setting>
            <setting name="Ldap_EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="Ldap_UseSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Membership_AllowUserRegistration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Membership_SomeoneHasLoggedInOnce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Membership_MaxInvalidPasswordAttempts" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Membership_MinRequiredPasswordLength" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Membership_MinRequiredNonalphanumericCharacters"
                serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Membership_PasswordAttemptWindow" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Globalization_DefaultTimezone" serializeAs="String">
                <value />
            </setting>
            <setting name="Logging_MaximumNumberDaysRetained" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Membership_PasswordStrengthRegularExpression"
                serializeAs="String">
                <value />
            </setting>
            <setting name="Authentication_Expiry" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Authentication_ExpiryRememberMe" serializeAs="String">
                <value>20160</value>
            </setting>
            <setting name="EmailSettings_SendSeperator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Message_RetentionPeriod" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="Message_LastPurgeAttempt" serializeAs="String">
                <value />
            </setting>
            <setting name="Message_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmailSettings_SendFromUser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunOnce_CheckedProjectOwner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunOnce_CheckedMissingPermission" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaraVault_HasAccount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TaraVault_AccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="TaraVault_UserLicense" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Cache_Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="Cache_RefreshTime" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Api_AllowedCorsOrigins" serializeAs="String">
                <value />
            </setting>
            <setting name="TaraVault_AccountId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TaraVault_RemoteServer" serializeAs="String">
                <value />
            </setting>
            <setting name="General_AdminMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="General_LoginNotice" serializeAs="String">
                <value />
            </setting>
            <setting name="Database_UseFreeTextCatalogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Security_ChangePasswordOnFirstLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Security_PasswordChangeInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Security_PasswordNoNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SourceCode_UseTaraVaultOnCloud" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Database_SampleDataCanBeDeleted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cache_RefreshTime_v1" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="General_DisableRollupCalculations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Api_MaxConcurrentCallsThrottle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmailSettings_LastResetEmailDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSettings_LastResetTimeIntervalSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Security_EnableMfa" serializeAs="String">
                <value>True</value>
            </setting>
        </Inflectra.SpiraTest.Common.ConfigurationSettings>
    </userSettings>
</configuration>
