<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Inflectra.SpiraTest.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Inflectra.SpiraTest.TestSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Inflectra.SpiraTest.Common.ConfigurationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Inflectra.SpiraTest.TestSuite.Properties.Settings>
      <setting name="WebServiceUrl" serializeAs="String">
        <value>http://localhost/Spira/Services/</value>
      </setting>
    </Inflectra.SpiraTest.TestSuite.Properties.Settings>
    <Inflectra.SpiraTest.Common.Properties.Settings>
      <setting name="EventLogSource" serializeAs="String">
        <value>SpiraTest</value>
      </setting>
      <setting name="TraceLogging_Enable" serializeAs="String">
        <value>True</value>
      </setting>
    </Inflectra.SpiraTest.Common.Properties.Settings>
  </applicationSettings>

  <userSettings>
    <Inflectra.SpiraTest.Common.ConfigurationSettings>
      <setting name="Database_Revision" serializeAs="String">
        <value>299</value>
      </setting>
      <setting name="Globalization_DefaultCulture" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailSettings_AllowUserControl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailSettings_EMailFrom" serializeAs="String">
        <value>administrator@mycompany.com</value>
      </setting>
      <setting name="EmailSettings_EMailReplyTo" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailSettings_UseSSL" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmailSettings_SendInHTML" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="General_AttachmentFolder" serializeAs="String">
        <value>C:\Program Files\SpiraTest\Attachments</value>
      </setting>
      <setting name="License_LicenseKey" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailSettings_Enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailSettings_MailServerPort" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="EmailSettings_MailServer" serializeAs="String">
        <value />
      </setting>
      <setting name="License_Organization" serializeAs="String">
        <value />
      </setting>
      <setting name="License_ProductType" serializeAs="String">
        <value />
      </setting>
      <setting name="General_RichTextArtifactDesc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="General_RichTextTestSteps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmailSettings_SmtpPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailSettings_SmtpUser" serializeAs="String">
        <value />
      </setting>
      <setting name="General_WebServerUrl" serializeAs="String">
        
      </setting>
      <setting name="Ldap_Host" serializeAs="String">
        <value />
      </setting>
      <setting name="Ldap_BaseDn" serializeAs="String">
        <value />
      </setting>
      <setting name="Ldap_BindDn" serializeAs="String">
        <value />
      </setting>
      <setting name="Ldap_BindPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="Ldap_Login" serializeAs="String">
        <value />
      </setting>
      <setting name="Ldap_FirstName" serializeAs="String">
        <value />
      </setting>
      <setting name="Ldap_LastName" serializeAs="String">
        <value />
      </setting>
      <setting name="Ldap_MiddleInitial" serializeAs="String">
        <value />
      </setting>
      <setting name="Ldap_EmailAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="Ldap_UseSSL" serializeAs="String">
        <value>False</value>
      </setting>
    </Inflectra.SpiraTest.Common.ConfigurationSettings>
  </userSettings>
  
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <connectionStrings>
		<add name="SpiraTestEntities" connectionString="metadata=res://DataModel/SpiraDataModel.csdl|res://DataModel/SpiraDataModel.ssdl|res://DataModel/SpiraDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ValidationMaster;integrated security=True;multipleactiveresultsets=True;App=EntityFramework;Connection Timeout=30&quot;" providerName="System.Data.EntityClient" />
		<add name="AuditTrailEntities" connectionString="metadata=res://*/AuditTrailEntityModel.csdl|res://*/AuditTrailEntityModel.ssdl|res://*/AuditTrailEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VMASTER;initial catalog=ValidationMasterAudit;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="generalSwitch" value="3" />
      <add name="queriesSwitch" value="1" />
    </switches>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!--	FILE LISTENER
		This is no longer needed since NUnit 2.4+ comes with built-in trace listener -->
        <!--
				<add name="fileListener"
						type="System.Diagnostics.TextWriterTraceListener" 
						initializeData="C:\Subversion\Projects\Inflectra\Trunk\Products and Services\Quality Assurance\Development\Code\NUNIT_EventLog.log"/>-->
        <!--	EVENT LOG LISTENER
		Using the listener requires that the installer has set up the registry path
		correctly in HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\Eventlog\Application
		with a key called "SpiraTest" at the minimum. -->
        <!--				<add name="eventLogListener"
						type="System.Diagnostics.EventLogTraceListener" 
						initializeData="SpiraTest"/>-->
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <system.data>
    <DbProviderFactories>
      <clear />
      <add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider" />
      <add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.8.2.0" newVersion="7.8.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.8.2.0" newVersion="7.8.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Kailua" publicKeyToken="86d340ffca32cc5b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.33.1.1" newVersion="15.33.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindwardReportsDrivers" publicKeyToken="adf7e40e645242d1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.33.1.1" newVersion="15.33.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindwardReports" publicKeyToken="34ffe15f4bbb8e53" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.33.1.1" newVersion="15.33.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindwardInterfaces" publicKeyToken="3e725dfad4fab7c2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.33.1.1" newVersion="15.33.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.3.0" newVersion="5.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
