USE [ValidationMasterAudit]
GO
/****** Object:  Table [dbo].[TST_ADMIN_HISTORY_CHANGESET_AUDIT]    Script Date: 1/23/2024 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TST_ADMIN_HISTORY_CHANGESET_AUDIT](
	[CHANGESET_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ADMIN_USER_ID] [int] NULL,
	[CHANGE_DATE] [datetime] NOT NULL,
	[ADMIN_SECTION_ID] [int] NOT NULL,
	[HISTORY_CHANGESET_TYPE_ID] [int] NULL,
	[ACTION_DESCRIPTION] [nvarchar](max) NULL,
	[ARTIFACT_ID] [int] NULL,
	[ARTIFACT_GUID_ID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[CHANGESET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TST_ADMIN_HISTORY_DETAILS_AUDIT]    Script Date: 1/23/2024 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TST_ADMIN_HISTORY_DETAILS_AUDIT](
	[ADMIN_HISTORY_DETAIL_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ADMIN_PROPERTY_NAME] [nvarchar](max) NULL,
	[OLD_VALUE] [nvarchar](max) NULL,
	[NEW_VALUE] [nvarchar](max) NULL,
	[OLD_VALUE_INT] [int] NULL,
	[NEW_VALUE_INT] [int] NULL,
	[OLD_VALUE_DATE] [datetime] NULL,
	[NEW_VALUE_DATE] [datetime] NULL,
	[ADMIN_USER_ID] [int] NULL,
	[ADMIN_ARTIFACT_FIELD_ID] [int] NULL,
	[ADMIN_CUSTOM_PROPERTY_ID] [int] NULL,
	[ADMIN_CHANGESET_ID] [bigint] NOT NULL,
	[ADMIN_ARTIFACT_FIELD_NAME] [nvarchar](50) NULL,
	[ADMIN_ARTIFACT_FIELD_CAPTION] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMIN_HISTORY_DETAIL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TST_ADMIN_SECTION_AUDIT]    Script Date: 1/23/2024 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TST_ADMIN_SECTION_AUDIT](
	[ADMIN_SECTION_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[PARENT_ID] [int] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMIN_SECTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TST_HISTORY_CHANGESET]    Script Date: 1/23/2024 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TST_HISTORY_CHANGESET](
	[CHANGESET_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[ARTIFACT_TYPE_ID] [int] NOT NULL,
	[ARTIFACT_ID] [int] NOT NULL,
	[CHANGE_DATE] [datetime] NOT NULL,
	[CHANGETYPE_ID] [int] NOT NULL,
	[PROJECT_ID] [int] NULL,
	[REVERT_ID] [bigint] NULL,
	[ARTIFACT_DESC] [nvarchar](255) NULL,
	[SIGNATURE_HASH] [nvarchar](255) NULL,
	[MEANING] [nvarchar](max) NULL,
 CONSTRAINT [PK_TST_HISTORY_CHANGESET] PRIMARY KEY CLUSTERED 
(
	[CHANGESET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TST_HISTORY_DETAIL]    Script Date: 1/23/2024 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TST_HISTORY_DETAIL](
	[ARTIFACT_HISTORY_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FIELD_NAME] [nvarchar](50) NOT NULL,
	[OLD_VALUE] [nvarchar](max) NULL,
	[FIELD_CAPTION] [nvarchar](50) NOT NULL,
	[NEW_VALUE] [nvarchar](max) NULL,
	[OLD_VALUE_INT] [int] NULL,
	[OLD_VALUE_DATE] [datetime] NULL,
	[NEW_VALUE_INT] [int] NULL,
	[NEW_VALUE_DATE] [datetime] NULL,
	[CHANGESET_ID] [bigint] NOT NULL,
	[FIELD_ID] [int] NULL,
	[CUSTOM_PROPERTY_ID] [int] NULL,
 CONSTRAINT [XPKTST_ARTIFACT_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ARTIFACT_HISTORY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TST_USER_ACTIVITY_LOG_AUDIT]    Script Date: 1/23/2024 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TST_USER_ACTIVITY_LOG_AUDIT](
	[USER_ACTIVITY_LOG_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[LOGIN_DATE] [datetime] NULL,
	[LOGOUT_DATE] [datetime] NULL,
	[ACTIVITY_DESCRIPTION] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ACTIVITY_LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TST_USER_HISTORY_CHANGESET_AUDIT]    Script Date: 1/23/2024 12:37:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TST_USER_HISTORY_CHANGESET_AUDIT](
	[CHANGESET_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[UPDATED_BY_USERID] [int] NOT NULL,
	[CHANGE_DATE] [datetime] NOT NULL,
	[EVENT_DESCRIPTION] [nvarchar](max) NULL,
	[PROPERTY_NAME] [nvarchar](max) NULL,
	[OLD_VALUE] [nvarchar](max) NULL,
	[NEW_VALUE] [nvarchar](max) NULL,
	[HISTORY_CHANGESET_TYPE_ID] [int] NOT NULL,
	[ADMIN_SECTION_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CHANGESET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[TST_ADMIN_HISTORY_CHANGESET_AUDIT] ADD  DEFAULT ((0)) FOR [ARTIFACT_ID]
GO
ALTER TABLE [dbo].[TST_ADMIN_HISTORY_CHANGESET_AUDIT]  WITH CHECK ADD FOREIGN KEY([ADMIN_SECTION_ID])
REFERENCES [dbo].[TST_ADMIN_SECTION_AUDIT] ([ADMIN_SECTION_ID])
GO
ALTER TABLE [dbo].[TST_ADMIN_HISTORY_DETAILS_AUDIT]  WITH CHECK ADD FOREIGN KEY([ADMIN_CHANGESET_ID])
REFERENCES [dbo].[TST_ADMIN_HISTORY_CHANGESET_AUDIT] ([CHANGESET_ID])
GO
ALTER TABLE [dbo].[TST_USER_HISTORY_CHANGESET_AUDIT]  WITH CHECK ADD FOREIGN KEY([ADMIN_SECTION_ID])
REFERENCES [dbo].[TST_ADMIN_SECTION_AUDIT] ([ADMIN_SECTION_ID])
GO
